.save-button{
	margin: 10px;
	border-top: 10px;
	padding-top: 10px;

}

.floorTypeSelector{

	width:20%;
}
.floorDetailsForm{
	margin: 10px;
	border-top: 10px;
	padding-top: 10px;
}

.done-button {
	float:right;
}