<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary" class = "top-toolbar">
  <span>
<div class="button-row">
  <button md-raised-button color="primary">
    <md-icon>home</md-icon>
     Home
  </button> 
  <button md-raised-button color="primary">
  <md-icon>create_new_folder</md-icon>
  New Project</button>

  <button md-raised-button color="primary">
  <md-icon>folder_open</md-icon>
  Load Project</button>

  <button md-raised-button color="primary"> <md-icon>help_outline</md-icon> Help</button>
</div>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-spacer"></span>

  <span class = "login-button">
  <button md-raised-button color="primary">
    <md-icon>settings</md-icon>
  </button>
  <button md-raised-button color="primary">
  <md-icon>account_box</md-icon>
  Login</button>
  </span>
</md-toolbar>

<button color="primary" class = "menu-button" md-raised-button [mdMenuTriggerFor]="menu">
  <md-icon>menu</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item color = "primary">
  <md-icon>play_circle_outline</md-icon>
    <span>Getting Started</span>
  </button>
  <button md-menu-item>
  <md-icon>video_label</md-icon>
    <span>Tutorial</span>
  </button>
  <button md-menu-item>
  <md-icon>ac_unit</md-icon>
    <span>Energy</span>
  </button>
  <button md-menu-item>
  <md-icon>whatshot</md-icon>
    <span>Bushfire Attack Rating</span>
  </button>
  <button md-menu-item>
  <md-icon>attach_money</md-icon>
    <span>Estimates</span>
  </button>
</md-menu>


  

<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
    <md-icon>pin_drop</md-icon>   
    Site Details
    </md-panel-title>
  </md-expansion-panel-header>


<form class="example-form">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-form-field class="example-full-width">
      <input mdInput placeholder="Client name">
    </md-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <md-form-field class="example-full-width">
      <input mdInput placeholder="Street Address">
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Suburb">
    </md-form-field></td>
    <td><md-form-field class="example-full-width">
      <input mdInput placeholder="State">
    </md-form-field></td>
    <td><md-form-field class="example-full-width">
      <input mdInput #postalCode maxlength="4" placeholder="Post code">
      <md-hint align="end">{{postalCode.value.length}} / 4</md-hint>
    </md-form-field></td>
  </tr></table>
</form>
<button md-raised-button color="primary">
    <md-icon>save</md-icon>
     Save
</button> 

</md-expansion-panel>

<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
    <md-icon>layers </md-icon>
      Floor Details
    </md-panel-title>
  </md-expansion-panel-header>
</md-expansion-panel>

<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
    <md-icon>view_array </md-icon>
      Wall Details
    </md-panel-title>
  </md-expansion-panel-header>
</md-expansion-panel>

<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
    <md-icon>keyboard_capslock </md-icon>
      Roof and Ceiling Details
    </md-panel-title>
  </md-expansion-panel-header>
</md-expansion-panel>

<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
    <md-icon>photo_filter </md-icon>
      Glazing Details
    </md-panel-title>
  </md-expansion-panel-header>
</md-expansion-panel>

<button md-raised-button color="primary">
    <md-icon>check_circle</md-icon>
     Calculate
</button> 
<button md-raised-button color="primary">
    <md-icon>picture_as_pdf</md-icon>
     Print Report
</button> 